@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Steam stats a</h1>

    <script></script>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <form method="post" >
        <input asp-for="SteamID" placeholder="SteamID64"/>
		<button type="submit">Pobierz Dane</button>
    </form>

    @if(Model.RawJson != null)
    {
        <h2>Raw JSON Data:</h2>
        <pre>@Model.RawJson</pre>
	}
)
    

     
</div>
