@page
@model IndexModel

<html title="statystyki Steam">
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <h1>Steam Stats</h1>
            Type in your SteamID to show stats
            <br />
            Works only on public profiles

        </header>


        <main>
        <form method="post" >
            <input asp-for="apiKey" placeholder="apiKey"/>
            <br>
            <input asp-for="SteamID" placeholder="SteamID64"/>
		    <button type="submit">Pull Data</button>
        </form>
        
        @if(Model.RawJson != null)
        {
            <h2>Raw JSON Data:</h2>
            <pre>@Model.RawJson</pre>
        }
        </main>



    </body>
</html> 