body {
    font-family: Arial;
    background-color: rgb(36,40,47);
    color:wheat;
}
#ProfileInfo {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
#ProfileInfoHeader
{
    width: 100%;
    align-items:center;
    gap:20px;
    
}
#UserAvatar
{
    width:10%;
    border-radius:15px;
}
#Username
{
    margin:0;
}
#ProfileInfoFriends {
    flex: 1.25;
    border: solid 5px black;
    border-radius: 15px;
    color: rgb(231,236,244);
    font-size: 20px;
    width: calc(50% - 20px);
    min-height: 120vh;
    padding: 10px;
}
#ProfileInfoRecentlyPlayedGames, #OwnedGames {
    border: solid 5px black;
    border-radius: 15px;
    color: rgb(231,236,244);
    font-size: 20px;
    width: 100%;
    min-height: 60vh;
    padding: 10px;
}
#OldestFriends {
    padding: 25px;
    font-size:25px;
}
#NewestFriends {
    padding: 25px;
    font-size: 25px;
}
.main-container{
    display:flex;
    gap:20px;
    width:100%;
    align-items:flex-start;
}
.right-container{
    display:flex;
    flex:1;
    flex-direction:column;
    gap:20px;
}
#GAME{
    font-size:25px;
    
}
#ChosenGameInfoHeader{
    text-align:center;
    padding:25px;
}
#GameInformationMain {
    padding: 25px;
    text-align:center;
}
#OwnedGamesIn{
    padding:25px;
}
