body {
    font-family: Arial;
    background-color: rgb(36,40,47);
    color:wheat;
}
#ProfileInfo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
#ProfileInfoHeader
{
    width: 100%;
    align-items:center;
    gap:20px;
    
}
#UserAvatar
{
    width:10%;
    border-radius:15px;
}
#Username
{
    margin:0;
}
#ProfileInfoFriends {
    
    border: solid 5px black;
    border-radius: 15px;
    color: rgb(231,236,244);
    font-size: 20px;
    width: calc(50% - 20px);
    height: 80vh;
}
#ProfileInfoRecentlyPlayedGames {
    border: solid 5px black;
    border-radius: 15px;
    color: rgb(231,236,244);
    font-size: 20px;
    width: calc(50% - 20px);
    height: 80vh;
}
#LastPlayedGame{
    padding-left:25px
}
