body {
    font-family: Arial;
    background-color: rgb(36,40,47);
    color:wheat;
}
#ProfileInfo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#ProfileInfoHeader
{
    width: 100%;
    align-items:center;
    gap:20px;
    
}
#UserAvatar
{
    width:10%;
    border-radius:15px;
}
#Username
{
    margin:0;
}
#ProfileInfoFriends {
    color: rgb(231,236,244);
    font-size:20px;
    width: 50%;
    height: 50vh;
}
#ProfileInfoGames {
    color: rgb(231,236,244);
    font-size: 20px;
    width: 50%;
    height: 50vh;
}
