body {
    font-family: Arial;
    background-color: rgb(51,51,51);
    color:wheat;
}
#ProfileInfo {
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 15px;
}
#ProfileInfoHeader
{
    display:flex;
    align-items:center;
    gap:20px;
    
}
#UserAvatar
{
    width:10%;
    border-radius:15px;
}
#Username
{
    margin:0;
}
